CLOUDFRONT_BASE_URL=https://uploader.ingest-dev.aws.onsdigital.uk
API_GATEWAY_BASE_URL=https://REPLACE_ME.execute-api.eu-west-2.amazonaws.com
TEST_LAD_CODE=P00000000
COUNCIL_NAME=Performance-Test
SUBMISSION_DATE=20261231
HOMEPAGE_PATH=/council-tax/P00000000-Performance-Test.html
PRESIGN_PATH=/pre-signed-url
EXTRACT_FILE_SIZE_BYTES=20971520
MANI_FILE_SIZE_BYTES=1024
UPLOAD_TIMEOUT_S=120
THRESHOLD_P50_MS=150
THRESHOLD_P95_MS=400
THRESHOLD_P99_MS=800
THRESHOLD_5XX_RATE=0.001
THRESHOLD_COLD_START_RATE=0.05
THRESHOLD_THROUGHPUT_MBS=10.0